/*--------------------------RESETEO CSS--------------------------*/
*{
    margin:0;
    padding:0;
}
/*----------------IMPORTACION ESTILOS Y VARIABLES----------------*/
@import"header.scss";
@import"nav.scss";
@import"footer.scss";
@import"_variables.scss";
@import"mixin.scss";


/*----------------------------ESTILOS MAIN GENERALES----------------------------*/

/*-----------------------HOME---------------------------*/

main{
    background-image: url(../img/cupcakes-productos.jpg)  ;
    background-position: center;  
    width: 100%;

    .main__titulo__home{
        margin-top: 20px;
        text-align: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(117, 85, 112);
    }

    .main__parrafo{
    font-style: italic;
    font-weight:initial;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: indigo;
    text-align: center;
    }
}

/*----------------SOBRE NOSOTROS----------------*/  

.main__sobrenosotros{
    background-image: url(../img/fondo-sobrenosotros-violeta.jpg);

    .main__titulo__sobrenosotros{
        background-color: #70076638;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 0;
        margin-bottom: 50px;

        h2{
            font-family: 'Roboto Condensed', sans-serif;
            color: white;
            margin-bottom: 0;
            font-weight:bold;
            line-height: 0;
        }
    }
    #main__sobrenosotros__parrafo{
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:"none none"
                            "imagen parrafo1"
                            "imagen parrafo2"
                            "imagen parrafo3";
        grid-row-gap: 10px;
        margin-bottom: 100px;
        .parrafo_1{
            color: white;
            font-family: 'Nunito', sans-serif;
            grid-area: parrafo1;
            font-size: 20px;
            margin-bottom: 0;
        }
        .parrafo_2{
            color: white;
            font-family: 'Nunito', sans-serif;
            grid-area: parrafo2;
            font-size: 20px;
            margin-bottom: 0;
        }
        .parrafo_3{
            color: white;
            font-family: 'Nunito', sans-serif;
            grid-area: parrafo3;
            font-size: 20px;
            margin-bottom: 0;
        }
        .img_aboutus{
            grid-area: imagen;
            align-self: center;

        }
        
        
    }
    
}


/*---------------------PRODUCTOS-------------------*/

.main__productos{
    background-image: url(../img/fondo-sobrenosotros-violeta.jpg);
    background-position: center; 
    overflow: visible;

    .main__titulo__productos{
        background-color: #70076638;
        height: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 0;
        margin-bottom: 50px;

        h2{
            font-family: 'Roboto Condensed', sans-serif;
            color: white;
            margin-bottom: 0;
            font-weight:bold;
            line-height: 0;
        }
    }
    .main__img__productos img{
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-top: 10px;
        width: 29%;
        justify-content: center;
        border: solid white;  
    }
    .main__subtitulos h3 {
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 20px;
        color: rgb(249, 243, 252);
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        text-decoration: underline;  
    }
    thead tr th {
        text-align: center;
    }
    tbody tr td {
        text-align: center;
    }
    
}

/*--------------------SUCURSALES--------------------*/

#div__sucursales main {
    background-image: url(../img/fondo-sobrenosotros-violeta.jpg);
    background-position: center; 
    overflow: visible;

    .main__titulo__sucursales {
        background-color: #70076638;
        height: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 0;
        margin-bottom: 50px;

        h2{
            font-family: 'Roboto Condensed', sans-serif;
            color: white;
            margin-bottom: 0;
            font-weight:bold;
            line-height: 0;
        }

    }
    .estilo_subtitulos{
        color: white;
        text-align: center;
    }
    .libertador {
        @extend .estilo_subtitulos;
        
    }
    .cabildo {
      @extend .estilo_subtitulos;
    }
    .maipu {
        @extend .estilo_subtitulos;
    }
    
    .pielibertador {
        @include pieMapa
    }
    .piecabildo {
        @include pieMapa
    }
    .piemaipu {
        @include pieMapa
    }
    
}

/*--------------------------------------CONTACTO---------------------------------------*/

#div__contacto main {
    background-image: url(../img/fondo-sobrenosotros-violeta.jpg);
    padding-bottom: 0px;
    background-position: center; 
    overflow: visible;
    .main__titulo__contacto{
        background-color: #70076638;
        height: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 0;
        margin-bottom: 25px;
        h2{
            font-family: 'Roboto Condensed', sans-serif;
            color: white;
            margin-bottom: 0;
            font-weight:bold;
            line-height: 0;
        }
    }
    
    .form-label{
        color: white;
        font-style: italic;
    }
}


/*----------------------------------MEDIAS QUERIES_MAIN------------------------------*/

/*-----------------------Pantallas pequeñas--------------*/

@media only screen and ( max-width: 600px) {
/*(HOME)*/

main {
    width: 100%;
    height: 500px;
    
    #main__grilla__home {
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "titulo"
                            "parrafo";
    
    }
    .main__titulo__home{
        font-size: 25px;
        grid-area:titulo;
    }
    .main__parrafo {
        font-size: 15px;
        grid-area:parrafo
    }
    
}

/*(SOBRE NOSOTROS)*/

.main__sobrenosotros {
    height: 1100px;

    .main__titulo__sobrenosotros{
        height: 20%;
        h2{
            font-size: 35px;
        }
        
    }

}

/*(PRODUCTOS)*/

.main__productos{
    height: 800px;

    .main__titulo__productos h2{
        font-size: 28px;
    }
    .main__subtitulos h3 {
        font-size: 25px;  
    }
}

/*(SUCURSALES)*/

#div__sucursales main {
    height: 750px;  

    .main__titulo__sucursales {
        height: 50px;
        font-size: 25px;
    }
    #main__grilla_sucursales {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 25% 1fr 1fr 25% 1fr 1fr 25% 1fr;
        grid-template-areas: "libertador"
                            "mapalib"
                            "pielib"
                            "cabildo"
                            "mapacab"
                            "piecab"
                            "maipu"
                            "mapamaipu"
                            "piemaipu"
                            ;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 550px;
        width: 96%;

        .libertador {
            grid-area: libertador;
            font-size: 15pt;
        }
        .cabildo {
            grid-area: cabildo;
            font-size: 15pt;
        }
        .maipu {
            grid-area: maipu;
            font-size: 15pt;
        }
        
        .mapalibertador {
            height: 100% ;
            width: 90% ;
            grid-area: mapalib;
            justify-self: center;
        }
        .mapacabildo {
            height: 100% ;
            width: 90%;
            grid-area: mapacab;
            justify-self: center;
        }
        .mapamaipu {
            height: 100% ;
            width: 90% ;
            grid-area: mapamaipu;
            justify-self: center;
        }
        .pielibertador {
            grid-area: pielib;
            font-size: 11pt;
        }
        .piecabildo {
            grid-area: piecab;
            font-size: 11pt;
        }
        .piemaipu {
            grid-area: piemaipu;
            font-size: 11pt;
        }
    
    }
}


/*(CONTACTO)*/

#div__contacto main {
    height: 700px;

    .main__titulo__contacto h2{
        height: 80px;
        font-size: 25px;
    }
}


}

/*----------------Pantallas pequeñas horizontales-------------*/

@media only screen and ( min-width: 600px) {  
    /*(HOME)*/

    main {
        width: 100%;
        height: 550px;
        background-image: url(../img/cupcakes-productos.jpg)  ;
        background-position: center; 

        #main__grilla__home{
            height: 22%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            justify-content: space-evenly;
        }
        .main__titulo__home{
            text-align: center;
            font-size: 30px;
        }
        .main__parrafo {
            font-size: 20px;
            text-align: center;
        }    
        
    }

    /*(SOBRE NOSOTROS)*/

    .main__sobrenosotros {
        height: 900px;

        .main__titulo__sobrenosotros {
            h2{
                font-size: 45px;
            }
        }
    }
    /*(PRODUCTOS)*/

    .main__productos{
        height: 800px;

       .main__titulo__productos h2{
            font-size: 30px;
        }
        .main__subtitulos h3 {
            font-size: 27px;  
        }
        thead tr th {
            text-align: center;
        }
        tbody tr td {
            text-align: center;
        }
        
    }


    /*(SUCURSALES)*/

    #div__sucursales main {
        height: 750px;  

        .main__titulo__sucursales {
            height: 50px;
            font-size: 25pt;
        }
        #main__grilla_sucursales {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 25% 1fr 1fr 25% 1fr 1fr 25% 1fr;
            grid-template-areas: "libertador"
                                "mapalib"
                                "pielib"
                                "cabildo"
                                "mapacab"
                                "piecab"
                                "maipu"
                                "mapamaipu"
                                "piemaipu"
                                ;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            height: 550px;
            width: 96%;

            .libertador {
                grid-area: libertador;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            .cabildo {
                grid-area: cabildo;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            .maipu {
                grid-area: maipu;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            
            .mapalibertador {
                height: 100% ;
                width: 90% ;
                grid-area: mapalib;
                justify-self: center;
            }
            .mapacabildo {
                height: 100% ;
                width: 90%;
                grid-area: mapacab;
                justify-self: center;
            }
            .mapamaipu {
                height: 100% ;
                width: 90% ;
                grid-area: mapamaipu;
                justify-self: center;
            }
            .pielibertador {
                grid-area: pielib;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
            .piecabildo {
                grid-area: piecab;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
            .piemaipu {
                grid-area: piemaipu;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
        
        }
    }
  
    /*(CONTACTO)*/

    #div__contacto main {
        height: 560px;

        .main__titulo__contacto h2{
            height: 80px;
            font-size: 25px;
        }
    }

}

/*-----------------------Pantallas medianas----------------*/

@media only screen and ( min-width: 768px) {
    /*(HOME)*/
    main {
        width: 100%;
        height: 550px;
        background-image: url(../img/cupcakes-productos.jpg)  ;
        background-position: center;  

        #main__grilla__home {
            height: 22%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            justify-content: space-evenly;
        }
        
        .main__titulo__home{
            text-align: center;
            font-size: 35px;
        }
        .main__parrafo {
            font-size: 25px;
            text-align: center;
        }
    }

    /*(SOBRE NOSOTROS)*/

    .main__sobrenosotros{
        height: 900px;

        .main__titulo__sobrenosotros {
            h2{
                font-size: 55px;
            } 
        }
    }

    /*(PRODUCTOS)*/

    .main__productos{
        height: 800px;

        .main__titulo__productos h2{
            font-size: 33px;
            }
        .main__subtitulos h3 {
            font-size: 29px;  
        }
        thead tr th {
            text-align: center;
        }
        tbody tr td {
            text-align: center;
        }

    }

    /*(SUCURSALES)*/

    #div__sucursales main {
        height: 100%;  

        .main__titulo__sucursales {
            height: 60px;
            font-size: 28px;
        }
        #main__grilla_sucursales {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 50% 1fr 1fr 50% 1fr 1fr 50% 1fr;
            grid-template-areas: "libertador cabildo maipu"
                                "mapalib mapacab mapamaipu"
                                "pielib piecab piemaipu"
                                ;
            grid-column-gap: 10px;
            grid-row-gap: 20px;
            height: 550px;
            width: 96%;

            .libertador {
                grid-area: libertador;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            .cabildo {
                grid-area: cabildo;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            .maipu {
                grid-area: maipu;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            
            .mapalibertador {
                height: 100% ;
                width: 90% ;
                grid-area: mapalib;
                justify-self: center;
            }
            .mapacabildo {
                height: 100% ;
                width: 90%;
                grid-area: mapacab;
                justify-self: center;
            }
            .mapamaipu {
                height: 100% ;
                width: 90% ;
                grid-area: mapamaipu;
                justify-self: center;
            }
            .pielibertador {
                grid-area: pielib;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
            .piecabildo {
                grid-area: piecab;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
            .piemaipu {
                grid-area: piemaipu;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
        
        }
    }

    /*(CONTACTO)*/
        #div__contacto main{
            height: 500px;
        
        .main__titulo__contacto h2{
            height: 80px;
            font-size: 25px;
        }
    } 
}

/*------------------Pantallas medianas grandes---------------------------*/

@media only screen and ( min-width: 992px) {
    /*(HOME)*/

    main {
        width: 100%;
        height: 550px;
        background-image: url(../img/cupcakes-productos.jpg)  ;
        background-position: center;  

        #main__grilla__home {
            height: 22%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            justify-content: space-evenly;
        }
        .main__titulo__home{
            text-align: center;
            font-size: 40px;
        }
        .main__parrafo{
            font-size: 25px;
            text-align: center;
        }
        
    }

    /*(SOBRE NOSOTROS)*/
    .main__sobrenosotros{
        height: 850px;

        .main__titulo__sobrenosotros{
            h2{
                font-size: 65px;
            }
            
        }
    }

    /*(PRODUCTOS)*/

    .main__productos{
        height: 800px;
        
        .main__titulo__productos h2{
            font-size: 35px;
            }
        .main__subtitulos h3 {
            font-size: 32px;  
        }
        thead tr th {
            text-align: center;
        }
        tbody tr td {
            text-align: center;
        }
    }

    /*(SUCURSALES)*/

    #div__sucursales main {
        height: 100%;  

        .main__titulo__sucursales {
            height: 60px;
            font-size: 30px;
        }
        #main__grilla_sucursales {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 50% 1fr 1fr 50% 1fr 1fr 50% 1fr;
            grid-template-areas: "libertador cabildo maipu"
                                "mapalib mapacab mapamaipu"
                                "pielib piecab piemaipu"
                                ;
            grid-column-gap: 10px;
            grid-row-gap: 20px;
            height: 550px;
            width: 96%;

            .libertador {
                grid-area: libertador;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            .cabildo {
                grid-area: cabildo;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            .maipu {
                grid-area: maipu;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            
            .mapalibertador {
                height: 100% ;
                width: 90% ;
                grid-area: mapalib;
                justify-self: center;
            }
            .mapacabildo {
                height: 100% ;
                width: 90%;
                grid-area: mapacab;
                justify-self: center;
            }
            .mapamaipu {
                height: 100% ;
                width: 90% ;
                grid-area: mapamaipu;
                justify-self: center;
            }
            .pielibertador {
                grid-area: pielib;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
            .piecabildo {
                grid-area: piecab;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
            .piemaipu {
                grid-area: piemaipu;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
        
        }
    }

    /*(CONTACTO)*/

    #div__contacto main {
        height: 500px;
        .main__titulo__contacto h2{
            height: 80px;
            font-size: 25px;
        }
    }

}

/*------------------Pantallas grandes------------------------------*/

@media only screen and ( min-width: 1200px) {
    /*(HOME)*/
    main {
        width: 100%;
        height: 550px;
        background-image: url(../img/cupcakes-productos.jpg)  ;
        background-position: center;  

        #main__grilla__home {
            height: 22%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            justify-content: space-evenly;
        }
        .main__titulo__home{
            text-align: center;
            font-size: 50px;
        }
        .main__parrafo {
            font-size: 30px;
            text-align: center;
        }
    }

    /*(SOBRE NOSOTROS)*/

    .main__sobrenosotros{
        height: 700px;

        .main__titulo__sobrenosotros{
            h2{
                font-size: 75px;
            }
            
        }
        
    }

    /*(PRODUCTOS)*/

    .main__productos{
        height: 800px;

        .main__titulo__productos h2{
            font-size: 40px;
            }
        .main__subtitulos h3 {
            font-size: 35px;  
        }
        thead tr th {
            text-align: center;
        }
        tbody tr td {
            text-align: center;
        }
    }

    /*(SUCURSALES)*/

    #div__sucursales main {
        height: 100%;  

        .main__titulo__sucursales {
            height: 100px;
            font-size: 40pt;
        }
        #main__grilla_sucursales {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 50% 1fr 1fr 50% 1fr 1fr 50% 1fr;
            grid-template-areas: "libertador cabildo maipu"
                                "mapalib mapacab mapamaipu"
                                "pielib piecab piemaipu"
                                ;
            grid-column-gap: 10px;
            grid-row-gap: 20px;
            height: 600px;
            width: 96%;

            .libertador {
                grid-area: libertador;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            .cabildo {
                grid-area: cabildo;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            .maipu {
                grid-area: maipu;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            
            .mapalibertador {
                height: 100% ;
                width: 90% ;
                grid-area: mapalib;
                justify-self: center;
            }
            .mapacabildo {
                height: 100% ;
                width: 90%;
                grid-area: mapacab;
                justify-self: center;
            }
            .mapamaipu {
                height: 100% ;
                width: 90% ;
                grid-area: mapamaipu;
                justify-self: center;
            }
            .pielibertador {
                grid-area: pielib;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
            .piecabildo {
                grid-area: piecab;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
            .piemaipu {
                grid-area: piemaipu;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
        
        }
    }

    /*(CONTACTO)*/

    #div__contacto main {
        height: 500px;
        .main__titulo__contacto h2{
            font-size: 40px;
        }
    }

}